<table class="s-header">
<tr>
          <td>parent name </td>
          <td> {{ teacherExtension.extn1 }} </td>
      </tr>
<tr>
          <td>my list </td>
          <td> {{ teacherExtension.extn2 }} </td>
      </tr>
<tr>
          <td>checkme </td>
          <td> {{ teacherExtension.extn3 }} </td>
      </tr>
<tr>
          <td>desc </td>
          <td> {{ teacherExtension.extn4 }} </td>
      </tr>
<tr>
          <td>toggleme </td>
          <td> {{ teacherExtension.extn5 }} </td>
      </tr>
<tr>
          <td>myurl </td>
          <td> {{ teacherExtension.extn6 }} </td>
      </tr>
<tr>
          <td>mcurrency </td>
          <td> {{ teacherExtension.extn7 }} </td>
      </tr>
<tr>
          <td>autocomplete </td>
          <td> {{ teacherExtension.extn8 }} </td>
      </tr>
<tr>
          <td>email </td>
          <td> {{ teacherExtension.extn10 }} </td>
      </tr>
<tr>
          <td>password </td>
          <td> {{ teacherExtension.extn11 }} </td>
      </tr>
<tr>
          <td>telephoene </td>
          <td> {{ teacherExtension.extn9 }} </td>
      </tr>
<tr>
          <td>birthdate </td>
          <td> {{ teacherExtension.extn12 }} </td>
      </tr>
  </table>
