
<form formArrayName="extensionForm">
<td class="left">

  <input colspan="2" type="text" formControlName="extn1" class="clr-input" placeholder="enter " />
</td>
<td class="left">

  <input colspan="2" type="text" formControlName="extn2" class="clr-input" placeholder="enter " />
</td>
<td class="left">

  <input colspan="2" type="text" formControlName="extn3" class="clr-input" placeholder="enter " />
</td>
<td class="left">

  <input colspan="2" type="text" formControlName="extn4" class="clr-input" placeholder="enter " />
</td>
<td class="left">

  <input colspan="2" type="text" formControlName="extn5" class="clr-input" placeholder="enter " />
</td>
</form>