@import '../../../../assets/scss/var';
.s-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        outline: none;
    }
}

.grid-pg {
    width:750px;
}


#add {
    //position:absolute;
    //position: fixed !important;
 /*    transition: .5s ease;
    top: 105px;
    left: 79%;  */
    position: relative;
    top: 6px;
    left: 800px;
}


#submit{
    position: relative;
    left: 35px;
    top: 9px;
}

a,
a label {
    cursor: pointer;
}