<div class="container">
  <div class="section" style="width: fit-content;">
    <p>EDIT FORM</p>
  </div>
  <br>
  <form (ngSubmit)="onSubmit()">
    <div class="clr-row">

      
      <div class="clr-col-md-4 clr-col-sm-12">
        <div><label for="main_menu_name">fname</label></div>
        <input type="text" [(ngModel)]="sales.afname" id="main_menu_name" name="sname" placeholder="Enter Name"
          class="clr-input">
      </div>

      <div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">
        <div><label for="menu_name">About</label></div>
        <textarea id="menu_name" class="clr-textarea" style="width: fit-content;" name="about" [(ngModel)]="sales.lname"
          cols="50" rows="3" placeholder="Enter about "></textarea>
      </div>


     


    </div>
    <br>
    <div class="center">
      <teacher-edit-extension [teacherExtension]="sales"></teacher-edit-extension>
    </div>


    <div class="section" style="width: fit-content;">
      <p>Menu Group Lines Details</p>
    </div>

    <!-----H-L LINE part(FormArray For Multiple Lines)---->

    <div class="clr-row">
      <div class="clr-col-lg-12">
        <table id="lines" class="table" style="width:100%;">
          <thead>
            <tr>
              <th class="left" style="width:125px;">Name</th>
              <th class="left" style="width:125px;">title</th>
           
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of sales.book">
              <td class="left">
                <input colspan="2" type="text" [(ngModel)]="person.bname" name="bname" placeholder="Enter Name"
                  class="clr-input" />
              </td>
              <td class="left">
                <input colspan="2" type="text" [(ngModel)]="person.btitle" name="btitle" placeholder="Enter Name"
                  class="clr-input" />
              </td>
              

            </tr>
          </tbody>

        </table>
      </div>
    </div>


    <button type="submit" form-control class="btn btn-primary">UPDATE</button>
  </form>
</div>
