<div class="container">
    <h3 CLASS="center"><b>UPDATE WIDGET </b></h3>
    <br />
  
    <!-- entry form-->
    <form  (ngSubmit)="onSubmit()">
        <div class="clr-row">
          <div class="clr-col-md-4 clr-col-sm-12">
              <label >Widget Name</label>
              <input  type="text" name="widget_name" [(ngModel)]="widget.widget_name"
              placeholder="Enter tags" class="clr-input">
           </div>
    
           <div class="clr-col-md-4 clr-col-sm-12">
              <label for="chart_type">Chart Type</label>
              <select id="chart_type" name="chart_type" name="chart_type" [(ngModel)]="widget.chart_type" selected="null" class="clr-dropdown">
                <option value="null">--select----</option>
                <option *ngFor="let ts of chart_types" [value]="ts">{{ ts }}
                </option>
              </select>
            </div>
    
            <div class="clr-col-md-4 clr-col-sm-12">
              <label for="color_scheme">Color Scheme</label>
              <select id="color_scheme" name="color_scheme" [(ngModel)]="widget.color_scheme" selected="null" class="clr-dropdown">
                <option value="null">--select----</option>
                <option *ngFor="let ts of color_scheme" [value]="ts">{{ ts }}
                </option>
              </select>
            </div>
        </div> <!-- end row -->
        <div class="clr-row">
          <div class="clr-col-md-4 clr-col-sm-12">
             <div> <label for="tags">Label</label></div>
              <textarea id="label" type="text" name="label" [(ngModel)]="widget.label" cols="40" rows="3" placeholder="Enter tags" ></textarea>
           </div>
    
          <div class="clr-col-md-4 clr-col-sm-12">
        <div> <label for="tags">Description</label></div>
            <textarea id="widget_description" type="text" [(ngModel)]="widget.widget_description" name="widget_description" cols="40" rows="3" placeholder="Enter Description" ></textarea>
          </div>
    
          <div class="clr-col-md-4 clr-col-sm-12">
        <div><label for="file">Sql Query</label></div>
            <textarea id="sql_query" type="text" name="sql_query"  [(ngModel)]="widget.sql_query" placeholder="Enter tags" cols="40" rows="3" ></textarea>
          </div>
        </div>
        <br>
        <div class="center">
          <button type="submit" class="btn btn-primary" >UPDATE</button>
        </div>
      </form>

  </div>