<div class="read-only-pg pad-16">
    <h3>READ ONLY FORM</h3>
    <br />

    <!-- <clr-tabs>
        <clr-tab> -->
    <!-- <clr-tab-content> -->
    <br />
    <table class="s-header">
        <tr>
            <td style="width:125px">Id</td>
            <td> {{departments.id}}</td>
        </tr>
        <tr>
            <td>Dname </td>
            <td> {{departments.dname}} </td>
        </tr>
        <tr>
            <td>Dhead</td>
            <td> {{departments.dhead}} </td>
        </tr>
        <tr>
            <td>Dcontact </td>
            <td> {{departments.dcontact}} </td>
        </tr>
        <tr>
            <td>EmpCount </td>
            <td> {{departments.empCount}} </td>
        </tr>

    </table>
    <br />



    <button (click)="back()" class="btn btn-primary">
        <clr-icon shape="caret left"></clr-icon>Back
    </button>
</div>