<table [formGroup]="extensionForm">
    <tr>
        <td style="width:125px;">age </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter age"></td>
    </tr>
    <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>
    <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>
    <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>
    <tr>
        <td style="width:125px;">type </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter type"></td>
    </tr>
    <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn2" placeholder="Enter name"></td>
    </tr>
    <tr>
        <td style="width:125px;">vaaa2 </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter vaaa2"></td>
    </tr>
    <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>
    <tr>
        <td style="width:125px;">name4 </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name4"></td>
    </tr>
    <tr>
        <td style="width:125px;">pk </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter pk"></td>
    </tr>

</table>