"<div class=\"read-only-pg pad-16\">" + "\r\n" + 
"    <h3>READ ONLY FORM</h3>" + "\r\n" + 
"    <br />" + "\r\n" + 
"" + "\r\n" + 
"    <!-- <clr-tabs>" + "\r\n" + 
"        <clr-tab> -->" + "\r\n" + 
"    <!-- <clr-tab-content> -->" + "\r\n" + 
"    <br />" + "\r\n" + 
"    <table class=\"s-header\">" + "\r\n" + 
"        <tr>" + "\r\n" + 
"            <td style=\"width:125px\">Id</td>" + "\r\n" + 
"            <td> {{sales.id}}</td>" + "\r\n" + 
"        </tr>" + "\r\n" + 
"        <tr>" + "\r\n" + 
"            <td>Name </td>" + "\r\n" + 
"            <td> {{sales.name}} </td>" + "\r\n" + 
"        </tr>" + "\r\n" + 
"        <tr>" + "\r\n" + 
"            <td>Depertment </td>" + "\r\n" + 
"            <td> {{sales.department}} </td>" + "\r\n" + 
"        </tr>" + "\r\n" + 
"        <tr>" + "\r\n" + 
"            <td>Joining Date </td>" + "\r\n" + 
"            <td> {{sales.joining_date | date}} </td>" + "\r\n" + 
"        </tr>" + "\r\n" + 
"        <tr>" + "\r\n" + 
"            <td>Status </td>" + "\r\n" + 
"            <td> {{sales.status}} </td>" + "\r\n" + 
"        </tr>" + "\r\n" + 
"" + "\r\n" + 
"    </table>" + "\r\n" + 
"    <br />" + "\r\n" + 
"" + "\r\n" + 
"           <button (click)=\"back()\" class=\"btn btn-primary\">" + "\r\n" + 
"            <clr-icon shape=\"caret left\"></clr-icon>Back" + "\r\n" + 
"        </button>" + "\r\n" + 
"    </div>" 
