"<!-- //1 -->" + "\r\n" + 
"<div class=\"container\">" + "\r\n" + 
"    <h3 class=\"center\"><b>Sales Group Edit Form</b></h3>" + "\r\n" + 
"    <br />" + "\r\n" + 
"" + "\r\n" + 
"    <div class=\"read-only-pg pad-16\">" + "\r\n" + 
"        <h3>SALES UPDATE FORM</h3>" + "\r\n" + 
"        <br />" + "\r\n" + 
"" + "\r\n" + 
"        <section class=\"form-block\" style=\"margin-top:32px\">" + "\r\n" + 
"            <form (ngSubmit)=\"onSubmit()\">" + "\r\n" + 
"                <table>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td style=\"width:125px;\">Name: </td>" + "\r\n" + 
"                        <td><input colspan=\"2\" type=\"text\" name=\"name\" [(ngModel)]=\"student.name\" style=\"width:120px\">" + "\r\n" + 
"                        </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td>Depertment: </td>" + "\r\n" + 
"                        <td colspan=\"2\"><input type=\"text\" name=\"depertment\" [(ngModel)]=\"student.department\"> </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td>DOJ:</td>" + "\r\n" + 
"                        <td colspan=\"2\"><input type=\"date\" name=\"joining_date\" [(ngModel)]=\"student.joining_date\"> </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td>Status:</td>" + "\r\n" + 
"                        <td colspan=\"2\"><input type=\"text\" name=\"status\" [(ngModel)]=\"student.status\"> </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                </table>" + "\r\n" + 
"                <br>" + "\r\n" + 
"" + "\r\n" + 
"               " + "\r\n" + 
"                <button type=\"submit\" form-control class=\"btn btn-primary\">UPDATE</button>" + "\r\n" + 
"            </form>" + "\r\n" + 
"        </section>" + "\r\n" + 
"    </div>" + "\r\n" + 
"	</div>" 
