<div class="container">
  <h3 CLASS="center"><b>TECHNOLOGY STACK ENTRY FORM</b></h3>
  <br />

  <!-- entry form-->
  <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
    <div class="clr-row">
      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="tech_stack">Technology Stack</label>
        <select id="tech_stack" name="tech_stack" selected="null" class="clr-dropdown">
          <option value="null">Choose Technology</option>
          <option *ngFor="let ts of tech_stacks" [value]="ts">{{ ts }}
          </option>
        </select>
      </div>

      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="tags">Tags</label>
        <input id="tags" type="text" formControlName="tags" placeholder="Enter tags" class="clr-input">
      </div>

      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="file">Upload Zip</label>
        <input id="file" type="file" accept=".zip,.rar,.7zip" (change)="onSelectFile($event)" class="clr-file">
      </div>
    </div> <!-- end row -->
    <br>
    <div class="center">
      <button type="submit" class="btn btn-primary" [disabled]="!entryForm.valid">SUBMIT</button>
    </div>
  </form>

</div>