"<!-- //1 -->" + "\r\n" + 
"<div class=\"container\">" + "\r\n" + 
"    <h3 class=\"center\"><b>Sales Group Edit Form</b></h3>" + "\r\n" + 
"    <br />" + "\r\n" + 
"" + "\r\n" + 
"    <div class=\"read-only-pg pad-16\">" + "\r\n" + 
"        <h3>SALES UPDATE FORM</h3>" + "\r\n" + 
"        <br />" + "\r\n" + 
"" + "\r\n" + 
"        <section class=\"form-block\" style=\"margin-top:32px\">" + "\r\n" + 
"            <form (ngSubmit)=\"onSubmit()\">" + "\r\n" + 
"                <table>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td style=\"width:125px;\">Name: </td>" + "\r\n" + 
"                        <td><input colspan=\"2\" type=\"text\" name=\"name\" [(ngModel)]=\"student.name\" style=\"width:120px\">" + "\r\n" + 
"                        </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td>Depertment: </td>" + "\r\n" + 
"                        <td colspan=\"2\"><input type=\"text\" name=\"depertment\" [(ngModel)]=\"student.department\"> </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td>DOJ:</td>" + "\r\n" + 
"                        <td colspan=\"2\"><input type=\"date\" name=\"joining_date\" [(ngModel)]=\"student.joining_date\"> </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                    <tr>" + "\r\n" + 
"                        <td>Status:</td>" + "\r\n" + 
"                        <td colspan=\"2\"><input type=\"text\" name=\"status\" [(ngModel)]=\"student.status\"> </td>" + "\r\n" + 
"                    </tr>" + "\r\n" + 
"                </table>" + "\r\n" + 
"                <br>" + "\r\n" + 
"" + "\r\n" + 
"                <!-- SALES LINE UPDATE-->" + "\r\n" + 
"                <div class=\"section\">" + "\r\n" + 
"                    <p>Sales Group Lines Details</p>" + "\r\n" + 
"                </div>" + "\r\n" + 
"                <!-----H-L LINE part(FormArray For Multiple Lines)---->" + "\r\n" + 
"                <div class=\"clr-row\">" + "\r\n" + 
"                    <div class=\"clr-col-lg-12\">" + "\r\n" + 
"                        <table id=\"lines\" class=\"table\" style=\"width:100%;\">" + "\r\n" + 
"                            <thead>" + "\r\n" + 
"                                <tr>" + "\r\n" + 
"" + "\r\n" + 
"                                    <th class=\"left\" style=\"width:125px;\">Name</th>" + "\r\n" + 
"" + "\r\n" + 
"                                </tr>" + "\r\n" + 
"                            </thead>" + "\r\n" + 
"                            <tbody>" + "\r\n" + 
"                                <tr *ngFor=\"let Person of salesPerson\">" + "\r\n" + 
"" + "\r\n" + 
"                                    <td class=\"left\">" + "\r\n" + 
"                                        <input type=\"text\" [(ngModel)]=\"Person.name\"" + "\r\n" + 
"                                            [ngModelOptions]=\"{standalone: true}\" placeholder=\"Enter Name\"" + "\r\n" + 
"                                            class=\"clr-input\">" + "\r\n" + 
"                                    </td>" + "\r\n" + 
"" + "\r\n" + 
"                                    <!--  <td class=\"left\">" + "\r\n" + 
"                                    <input type=\"date\" [name]=\"line.start_date\" [(ngModel)]=\"line.start_date\" [ngModelOptions]=\"{standalone: true}\" clrDate />" + "\r\n" + 
"                                </td>" + "\r\n" + 
"" + "\r\n" + 
"                                <td class=\"left\">" + "\r\n" + 
"                                    <input type=\"date\" [name]=\"line.end_date\"" + "\r\n" + 
"                                        [(ngModel)]=\"line.end_date\" [ngModelOptions]=\"{standalone: true}\" clrDate />" + "\r\n" + 
"                                </td> -->" + "\r\n" + 
"" + "\r\n" + 
"                                    <!-- <td class=\"left\">" + "\r\n" + 
"                                        <input type=\"date\" [attr.name]=\"line.seq\" [(ngModel)]=\"line.seq\"" + "\r\n" + 
"                                            [ngModelOptions]=\"{standalone: true}\" class=\"clr-input\" />" + "\r\n" + 
"                                    </td> -->" + "\r\n" + 
"                                </tr>" + "\r\n" + 
"                            </tbody>" + "\r\n" + 
"                        </table>" + "\r\n" + 
"                    </div>" + "\r\n" + 
"                </div>" + "\r\n" + 
"                <button type=\"submit\" form-control class=\"btn btn-primary\">UPDATE</button>" + "\r\n" + 
"            </form>" + "\r\n" + 
"        </section>" + "\r\n" + 
"    </div>" 
