"<div class=\"container\">" + "\r\n" + 
"  <div class=\"section\" style=\"width: fit-content;\">" + "\r\n" + 
"    <p>EDIT FORM</p>" + "\r\n" + 
"  </div>" + "\r\n" + 
"  <br>" + "\r\n" + 
"  <form (ngSubmit)=\"onSubmit()\">" + "\r\n" + 
"    <div class=\"clr-row\">" + "\r\n" + 
"" + "\r\n" + 
"      " + "\r\n" + 
"      <div class=\"clr-col-md-4 clr-col-sm-12\">" + "\r\n" + 
"        <div><label for=\"main_menu_name\">sname</label></div>" + "\r\n" + 
"        <input type=\"text\" [(ngModel)]=\"sales.sname\" id=\"main_menu_name\" name=\"sname\" placeholder=\"Enter Name\"" + "\r\n" + 
"          class=\"clr-input\">" + "\r\n" + 
"      </div>" + "\r\n" + 
"" + "\r\n" + 
"      <div class=\"clr-col-md-4 clr-col-sm-12\" style=\"margin-bottom: 20px;\">" + "\r\n" + 
"        <div><label for=\"menu_name\">About</label></div>" + "\r\n" + 
"        <textarea id=\"menu_name\" class=\"clr-textarea\" style=\"width: fit-content;\" name=\"about\" [(ngModel)]=\"sales.about\"" + "\r\n" + 
"          cols=\"50\" rows=\"3\" placeholder=\"Enter about \"></textarea>" + "\r\n" + 
"      </div>" + "\r\n" + 
"" + "\r\n" + 
"" + "\r\n" + 
"     " + "\r\n" + 
"" + "\r\n" + 
"" + "\r\n" + 
"    </div>" + "\r\n" + 
"    <br>" + "\r\n" + 
"    <div class=\"center\">" + "\r\n" + 
"      <teacher-edit-extension [teacherExtension]=\"sales\"></teacher-edit-extension>" + "\r\n" + 
"    </div>" + "\r\n" + 
"" + "\r\n" + 
"" + "\r\n" + 
"    <div class=\"section\" style=\"width: fit-content;\">" + "\r\n" + 
"      <p>Menu Group Lines Details</p>" + "\r\n" + 
"    </div>" + "\r\n" + 
"" + "\r\n" + 
"    <!-----H-L LINE part(FormArray For Multiple Lines)---->" + "\r\n" + 
"" + "\r\n" + 
"    <div class=\"clr-row\">" + "\r\n" + 
"      <div class=\"clr-col-lg-12\">" + "\r\n" + 
"        <table id=\"lines\" class=\"table\" style=\"width:100%;\">" + "\r\n" + 
"          <thead>" + "\r\n" + 
"            <tr>" + "\r\n" + 
"              <th class=\"left\" style=\"width:125px;\">Name</th>" + "\r\n" + 
"              <th class=\"left\" style=\"width:125px;\">Name</th>" + "\r\n" + 
"              <th class=\"left\" style=\"width:125px;\">Name</th>" + "\r\n" + 
"            </tr>" + "\r\n" + 
"          </thead>" + "\r\n" + 
"          <tbody>" + "\r\n" + 
"            <tr *ngFor=\"let person of salesperson\">" + "\r\n" + 
"              <td class=\"left\">" + "\r\n" + 
"                <input colspan=\"2\" type=\"text\" [(ngModel)]=\"person.pname\" name=\"first\" placeholder=\"Enter Name\"" + "\r\n" + 
"                  class=\"clr-input\" />" + "\r\n" + 
"              </td>" + "\r\n" + 
"              <td class=\"left\">" + "\r\n" + 
"                <input colspan=\"2\" type=\"text\" [(ngModel)]=\"person.pname\" name=\"first\" placeholder=\"Enter Name\"" + "\r\n" + 
"                  class=\"clr-input\" />" + "\r\n" + 
"              </td>" + "\r\n" + 
"              <td class=\"left\">" + "\r\n" + 
"                <input colspan=\"2\" type=\"text\" [(ngModel)]=\"person.pname\" name=\"first\" placeholder=\"Enter Name\"" + "\r\n" + 
"                  class=\"clr-input\" />" + "\r\n" + 
"              </td>" + "\r\n" + 
"" + "\r\n" + 
"            </tr>" + "\r\n" + 
"          </tbody>" + "\r\n" + 
"" + "\r\n" + 
"        </table>" + "\r\n" + 
"      </div>" + "\r\n" + 
"    </div>" + "\r\n" + 
"" + "\r\n" + 
"" + "\r\n" + 
"    <button type=\"submit\" form-control class=\"btn btn-primary\">UPDATE</button>" + "\r\n" + 
"  </form>" + "\r\n" + 
"</div>" 
