"<div class=\"entry-pg pad-16\">" + "\r\n" + 
"    <h3 class=\"center\"><b>ENTRY FORM</b></h3>" + "\r\n" + 
"	" + "\r\n" + 
"    <div>" + "\r\n" + 
"<a style=\" display: block;margin-left: 90%;\"    [routerLink]=\"['../../extension/all']\">" + "\r\n" + 
"<clr-icon shape=\"airplane\" size=\"32\"></clr-icon></a>   " + "\r\n" + 
" </div>" + "\r\n" + 
"" + "\r\n" + 
"    <section class=\"form-block\" style=\"margin-top:32px\">" + "\r\n" + 
"        <!-- entry form-->" + "\r\n" + 
"        <form [formGroup]=\"entryForm\" (ngSubmit)=\"onSubmit()\">" + "\r\n" + 
"            <div class=clr-row>" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			" + "\r\n" + 
"			</div>" + "\r\n" + 
"			" + "\r\n" + 
"			<!-- EXTENSION FIELDS START -->" + "\r\n" + 
"<teacher-add-extension [extensionForm]=\"entryForm\"></teacher-add-extension>" + "\r\n" + 
"<!-- EXTENSION FIELDS END-->" + "\r\n" + 
"" + "\r\n" + 
"" + "\r\n" + 
"            " + "\r\n" + 
"            <br>" + "\r\n" + 
"            <button type=\"submit\" class=\"btn btn-primary\" [disabled]=\"!entryForm.valid\">SUBMIT</button>" + "\r\n" + 
"        </form>" + "\r\n" + 
"    </section>" + "\r\n" + 
"" + "\r\n" + 
"</div>" 
