"<!-- //1 -->" + "\r\n" + 
"<div class=\"container\">" + "\r\n" + 
"    <h3 class=\"center\"><b>Group Edit Form</b></h3>" + "\r\n" + 
"    <br />" + "\r\n" + 
"" + "\r\n" + 
"    <div class=\"read-only-pg pad-16\">" + "\r\n" + 
"        <h3>SALES UPDATE FORM</h3>" + "\r\n" + 
"        <br />" + "\r\n" + 
"" + "\r\n" + 
"        <section class=\"form-block\" style=\"margin-top:32px\">" + "\r\n" + 
"            <form (ngSubmit)=\"onSubmit()\">" + "\r\n" + 
"                <div class=clr-row>" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				" + "\r\n" + 
"				</div>" + "\r\n" + 
"				" + "\r\n" + 
"	" + "\r\n" + 
"					<!-- EXTENSION FIELDS START -->" + "\r\n" + 
"					<teacher-edit-extension [(teacherExtension)]=\"student\"></teacher-edit-extension>" + "\r\n" + 
"					<!-- EXTENSION FIELDS END-->" + "\r\n" + 
"               " + "\r\n" + 
"                <button type=\"submit\" form-control class=\"btn btn-primary\">UPDATE</button>" + "\r\n" + 
"            </form>" + "\r\n" + 
"        </section>" + "\r\n" + 
"    </div>" + "\r\n" + 
"	</div>" 
