<div class="container">
    <h3 style="text-align: center;"><b>FILE EDITOR</b></h3>
    <div class="clr-row">
      <!-- <div class="clr-col-6">
        
        <label for="files">Files</label>
        <select class="clr-dropdown" id="files" name="files" (change)="readFile($event)">
          <option value="-1" selected>choose file</option>
          <option *ngFor="let file of fileList" [value]="file.id">{{ file.fileName }}
          </option>
        </select>
      </div>-->
      <br> 
      <br>
      <!--   </div> -->
      <div class="clr-col-6">
  
  
        <!-- codemirror implementation -->
        
        <!-- <ngx-codemirror 
      #editor 
      [options]="codeMirrorOptions" 
      [(ngModel)]="fileData.text"
      (ngModelChange)="setEditorContent($event)">
    </ngx-codemirror> -->
        <!-- <textarea [(ngModel)]="fileData.text" rows="20"></textarea> -->
  
        <ngx-codemirror 
          #codemirror 
          [options]="codeMirrorOptions"
          [(ngModel)]="fileData.text"
        >
        </ngx-codemirror>
        
      </div>
      
    </div>
    <br> 
    <br>
    <button style="float: right; margin-top: -42px;" class="btn btn-primary"
          (click)="saveTextIntoFile()">Save</button>
  </div>