#GridTable  tr:hover td 
 { 
    background-color: #CAD6DF; 
 } 
 
 .selectRowCSS 
     { 
     
          background-color:gray; 
      }  
      
   /*   .selectTdCSS 
    { 
        background-color:#FFFFFF; 
      }
      */
 