<div class="read-only-pg pad-16">
    <h3>READ ONLY FORM <a (click)="goToWhoColumns()">
        <clr-icon shape="help"  class="is-solid" size="32"></clr-icon>
    </a></h3>

    <clr-modal [(clrModalOpen)]="basic">
        <h3 class="modal-title"><b>Transaction History</b></h3>
        <div class="modal-body">
            <table s-header>
                <tr>
                    <td><b>Account Id: </b></td>
                    <td> {{ functionRegister.accountId }} </td>
                </tr>
                <tr>
                    <td><b>Created By: </b></td>
                    <td> {{ functionRegister.createdBy }} </td>
                </tr>
                <tr>
                    <td><b>Created At: </b></td>
                    <td> {{ functionRegister.createdAt | date:'medium' }} </td>
                </tr>
                <tr>
                    <td><b>Updated At: </b></td>
                    <td> {{ functionRegister.updatedAt | date:'medium' }} </td>
                </tr>
                <tr>
                    <td><b>Updated By: </b></td>
                    <td> {{ functionRegister.updatedBy }} </td>
                </tr>
            </table>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
        </div>
    </clr-modal>
    <!-- who column end -->

    <!-- read only form start -->
    <table class="s-header">
        <tr>
            <td>Function Name: </td>
            <td> {{ functionRegister.function_name }} </td>
        </tr>
        <tr>
            <td>Function Action Link: </td>
            <td> {{ functionRegister.function_action_name }} </td>
        </tr>
        <tr>
            <td>Icon: </td>
            <td> {{ functionRegister.function_icon }} </td>
        </tr>
        <tr>
            <td>Flag: </td>
            <td> {{ functionRegister.enable_flag }} </td>
        </tr> 
        <tr>
            <td>End Date </td>
            <td> {{ functionRegister.end_date }} </td>
        </tr>
    </table>
    <br>
    <button (click)="back()" class="btn btn-primary">
        <clr-icon shape="caret left"></clr-icon>Back
    </button>
</div>