<table [formGroup]="extensionForm">
 <tr>
        <td style="width:125px;">age </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter age"></td>
    </tr>
 <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>
 <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>
 <tr>
        <td style="width:125px;">name </td>
        <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter name"></td>
    </tr>

</table>