
$bg-color: #dddddd;
h3 {
    //color: white;
    padding: 10px;
    font-size: 18px;

        background-color: $bg-color;
        height: 40px;
  }

  .btns{
      text-align: center;
        margin : 5px 5px 5px 5px;
      width: auto;
  }