<div class="container">
    <h3 class="center"><b>BI Dashboard</b></h3>

    <div class="section">
        <p> Dashboard Details </p>
    </div>
    <br />
    <!-- Header form start -->
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="clr-row">
            <div class="clr-col-md-4 clr-col-sm-12">
                <label for="form_name">Dashboard Name</label>
                <input id="dashboard_name" type="text" formControlName="dashboard_name" placeholder="Enter Dashboard Name"
                    class="clr-input">
                <div *ngFor="let error of fieldErrors">
                    <span *ngIf="error.field === 'form_name'" class="text text-danger">{{ error.message }}</span>
                </div>
            </div>
        </div> <!-- row end -->

        <br>
        <div class="section">
            <p> Line Details </p>
        </div>
        <!-----H-L LINE part(FormArray For Multiple Lines)---->
        <div class="clr-row">
            <div class="clr-col-lg-12">
                <table class="table" style="width:100%;" formArrayName="components">
                    <thead>
                        <tr>
                            <th class="left" style="width:125px;">Section Type</th>
                            <th class="right" style="width:125px;">{{ controls.length > 1 ? 'Actions' : '' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of controls; let i=index" [formGroupName]="i">
                            
                            <td class="left">
                                <select colspan="2" id="section_type" name="section_type" formControlName="section_type" selected="null" style="width:180px"
                                    class="clr-dropdown">
                                    <option value="null">Choose Section Type</option>
                                    <option value="1*1">1*1</option>
                                    <option value="1*2">1*2</option>
                                    <option value="1*3">1*3</option>
                                    <option value="1*4">1*4</option>
                                    <option value="2*2">2*2</option>
                                    <option value="2*3">2*3</option>
                                </select>
                            </td>
                            
                            <td style="width:40px;">
                                <a *ngIf="controls.length > 1" (click)="onRemoveLines(i)">
                                    <clr-icon shape="trash" class="is-error"></clr-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <button type="button" class="btn btn-primary button1" (click)="onAddLines()">
                        <clr-icon shape="plus"></clr-icon>
                    </button>
                </table>
            </div>
        </div>
        <br>
        <div class="center">
            <button type="submit" class="btn btn-primary" [disabled]="!entryForm.valid">SUBMIT</button>
        </div>
    </form>
</div>