<div class="clr-row" [formGroup]="extensionForm">

  <div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">

  <div> <label >sds </label></div>
 
   <input colspan="2" style="width:180px" type="text" class="clr-input" formControlName="extn1" placeholder="Enter sds">
    </div>

  <div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">

 <div> <label >dsdsds </label></div>
 
   <input colspan="2" style="width:180px" type="text" class="clr-input" formControlName="extn1" placeholder="Enter dsdsds">
    </div>

</div>