<!-- //1 -->
<div class="container">
    <h3 class="center"><b>Group Edit Form</b></h3>
    <br />

    <div class="read-only-pg pad-16">
        <h3>SALES UPDATE FORM</h3>
        <br />

        <section class="form-block" style="margin-top:32px">
            <form (ngSubmit)="onSubmit()">
                <div class=clr-row>
				
				
				
				
 <div class="section" style=" background-color: #dddddd; height: 40px;">
    <p style=" padding: 10px; font-size: 18px;">section1</p>
  </div><div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">
                  <label>label1: </label>
                  
                      <input class="clr-input"  	 style="width:fit-content;"  type="text"name="label1" [(ngModel)]="student.label1" placeholder="Enter label1" ></div>
<div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">
                  <label>label2: </label>
                  
                      <input class="clr-input"  	 style="width:fit-content;"  type="text"name="label2" [(ngModel)]="student.label2" placeholder="Enter label2" ></div>
<div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">
                  <label>label3: </label>
                  
                      <input class="clr-input"  	 style="width:fit-content;"  type="text"name="label3" [(ngModel)]="student.label3" placeholder="Enter label3" ></div>
<div class="clr-col-md-4 clr-col-sm-12" style="margin-bottom: 20px;">
                  <label>label4: </label>
                  
                      <input class="clr-input"  	 style="width:fit-content;"  type="text"name="label4" [(ngModel)]="student.label4" placeholder="Enter label4" ></div>
				
				
				
				
				
				</div>
				
	
					<!-- EXTENSION FIELDS START -->
					<teacher-edit-extension [(teacherExtension)]="student"></teacher-edit-extension>
					<!-- EXTENSION FIELDS END-->
               
                <button type="submit" form-control class="btn btn-primary">UPDATE</button>
            </form>
        </section>
    </div>
	</div>