<div class="container">
    <h3 class="center"><b>CREATE NEW REPORT</b></h3>

    <!-- Header form start -->
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">


        <br>
        <div class="section">
            <p> Select Tables</p>
        </div>
        <!-----H-L LINE part(FormArray For Multiple Lines)---->
        <div class="clr-row">
            <div class="clr-col-lg-12">
                <table class="table" style="width:100%;" formArrayName="components">
                    <thead>
                        <tr>

                            <th class="left" style="width:125px;">Table Name</th>
                            <th class="left" style="width:125px;">Table Alise Name</th>

                            <!-- <th *ngIf="controls.length > 1" class="right" style="width:125px;">{{ controls.length > 1 ? 'Actions' : '' }}Actions</th> -->
                             <th class="right" style="width:125px;">{{ controls.length > 1 ? 'Actions' : '' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of controls; let i=index" [formGroupName]="i">


                            <!-- field 1 -->
                            <td class="left">
                                <select (change)="changeAlias($event.target.value)" [attr.id]="'table_name' + i" colspan="2" formControlName="table_name" selected="null" style="width:180px"
                                    class="clr-dropdown">
                                    <option value="null">Choose Field Type</option>
                                    <option *ngFor="let ts of tableList" [value]="ts">{{ ts }}
                                    </option>
                                </select>
                            </td>
                            <!-- field 2 -->
                            <td class="left">
                                <input type="text" name="table_allias_name" id="table_allias_name" [attr.id]="'table_allias_name' + i" formControlName="table_allias_name"
                                    placeholder="Enter Values" style="width:180px" class="clr-input">
                            </td>
                            <!-- delete line -->
                             <td style="width:40px;">
                                <a *ngIf="controls.length > 1" (click)="onRemoveLines(i)">
                                    <clr-icon shape="trash" class="is-error"></clr-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <!-- add line -->
                    <button type="button" class="btn btn-primary button1" (click)="onAddLines()">
                        <clr-icon shape="plus"></clr-icon>
                    </button>
                </table>
            </div>
        </div>
        <br>
        <div class="center">
            <button type="submit" class="btn btn-primary" [disabled]="!entryForm.valid">Save & Next</button>
        </div>
    </form>
</div>
